In [11]:
import os

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
DATA_DIR = os.path.join('..', 'data')
os.listdir(DATA_DIR)

['history.csv', 'submission.csv', 'employees.csv']

In [14]:
hist = pd.read_csv(os.path.join(DATA_DIR, 'history.csv'))
empls = pd.read_csv(os.path.join(DATA_DIR, 'employees.csv'))
sbmsn = pd.read_csv(os.path.join(DATA_DIR, 'submission.csv'))

In [15]:
empls.head()

                             EmployeeID HiringDate DismissalDate
0  01EDC1A7-5DA7-4939-854B-0002E0DF548D     9/1/18           NaN
1  91C351D9-38A1-40CB-9B69-000774211859     1/1/18        2/1/19
2  D699327D-8A78-4FBE-9CEA-001355717D3F     2/1/18           NaN
3  22102E27-5EEA-44F9-8632-0017B04B1236    10/1/14        5/1/18
4  08C0AFA9-ABC3-4FAF-8DE2-0018AE9A69F4     9/1/10           NaN

In [16]:
len(empls)

5373

In [17]:
empls.EmployeeID.nunique()

5373

In [20]:
empls[empls['DismissalDate'].isnull()]

                                EmployeeID HiringDate DismissalDate
0     01EDC1A7-5DA7-4939-854B-0002E0DF548D     9/1/18           NaN
2     D699327D-8A78-4FBE-9CEA-001355717D3F     2/1/18           NaN
4     08C0AFA9-ABC3-4FAF-8DE2-0018AE9A69F4     9/1/10           NaN
6     FA5F9156-0C2E-4462-B045-002E6E259B49     3/1/18           NaN
8     F080C1DE-1803-461A-AF0B-004E19CBD634     6/1/18           NaN
...                                    ...        ...           ...
5367  9634B9D2-6519-4345-AD76-FFA34A10A26D     3/1/15           NaN
5369  4D599D15-30AD-461B-B35A-FFB29D5F3A57     3/1/17           NaN
5370  F7A06FC0-8117-495D-BA4B-FFD4B9306DA2     9/1/14           NaN
5371  6204EE4F-26E3-437B-85C1-FFED4CC7B6C8     4/1/16           NaN
5372  C71C70C7-DBB2-45BD-9DB2-FFF30F1A77F1    10/1/16           NaN

[4356 rows x 3 columns]

In [24]:
set(sbmsn.EmployeeID) - set(empls.EmployeeID)

set()

In [25]:
len(hist)

87766

In [26]:
df = hist.merge(empls)

In [27]:
len(df)

87766

In [28]:
df.head()

,EmployeeID,Date,DevCenterID,SBUID,PositionID,PositionLevel,IsTrainee,LanguageLevelID,CustomerID,ProjectID,...,CompetenceGroupID,FunctionalOfficeID,PaymentTypeId,BonusOneTime,APM,WageGross,MonthOnPosition,MonthOnSalary,HiringDate,DismissalDate
0,00116D71-E87D-4B64-A566-1F29B2A798A8,7/1/17,3,292,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,15,1,9,0,39,0.887446,1,1,6/1/13,NaN
1,00116D71-E87D-4B64-A566-1F29B2A798A8,8/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,15,1,9,200,28,0.887446,2,2,6/1/13,NaN
2,00116D71-E87D-4B64-A566-1F29B2A798A8,9/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,15,1,9,0,43,0.887446,3,3,6/1/13,NaN
3,00116D71-E87D-4B64-A566-1F29B2A798A8,10/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,15,1,9,0,49,0.887446,4,4,6/1/13,NaN
4,00116D71-E87D-4B64-A566-1F29B2A798A8,11/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,15,1,9,0,43,0.887446,5,5,6/1/13,NaN