In [11]:
import os

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [45]:
pd.set_option('display.max_columns', 500)

In [3]:
DATA_DIR = os.path.join('..', 'data')
os.listdir(DATA_DIR)

['history.csv', 'submission.csv', 'employees.csv']

In [14]:
hist = pd.read_csv(os.path.join(DATA_DIR, 'history.csv'))
empls = pd.read_csv(os.path.join(DATA_DIR, 'employees.csv'))
sbmsn = pd.read_csv(os.path.join(DATA_DIR, 'submission.csv'))

In [15]:
empls.head()

                             EmployeeID HiringDate DismissalDate
0  01EDC1A7-5DA7-4939-854B-0002E0DF548D     9/1/18           NaN
1  91C351D9-38A1-40CB-9B69-000774211859     1/1/18        2/1/19
2  D699327D-8A78-4FBE-9CEA-001355717D3F     2/1/18           NaN
3  22102E27-5EEA-44F9-8632-0017B04B1236    10/1/14        5/1/18
4  08C0AFA9-ABC3-4FAF-8DE2-0018AE9A69F4     9/1/10           NaN

In [16]:
len(empls)

5373

In [17]:
empls.EmployeeID.nunique()

5373

In [20]:
empls[empls['DismissalDate'].isnull()]

                                EmployeeID HiringDate DismissalDate
0     01EDC1A7-5DA7-4939-854B-0002E0DF548D     9/1/18           NaN
2     D699327D-8A78-4FBE-9CEA-001355717D3F     2/1/18           NaN
4     08C0AFA9-ABC3-4FAF-8DE2-0018AE9A69F4     9/1/10           NaN
6     FA5F9156-0C2E-4462-B045-002E6E259B49     3/1/18           NaN
8     F080C1DE-1803-461A-AF0B-004E19CBD634     6/1/18           NaN
...                                    ...        ...           ...
5367  9634B9D2-6519-4345-AD76-FFA34A10A26D     3/1/15           NaN
5369  4D599D15-30AD-461B-B35A-FFB29D5F3A57     3/1/17           NaN
5370  F7A06FC0-8117-495D-BA4B-FFD4B9306DA2     9/1/14           NaN
5371  6204EE4F-26E3-437B-85C1-FFED4CC7B6C8     4/1/16           NaN
5372  C71C70C7-DBB2-45BD-9DB2-FFF30F1A77F1    10/1/16           NaN

[4356 rows x 3 columns]

In [24]:
set(sbmsn.EmployeeID) - set(empls.EmployeeID)

set()

In [25]:
len(hist)

87766

In [26]:
df = hist.merge(empls)

In [27]:
len(df)

87766

In [47]:
df.head(30)

,EmployeeID,Date,DevCenterID,SBUID,PositionID,PositionLevel,IsTrainee,LanguageLevelID,CustomerID,ProjectID,IsInternalProject,Utilization,HourVacation,HourMobileReserve,HourLockedReserve,OnSite,CompetenceGroupID,FunctionalOfficeID,PaymentTypeId,BonusOneTime,APM,WageGross,MonthOnPosition,MonthOnSalary,HiringDate,DismissalDate,idx
0,00116D71-E87D-4B64-A566-1F29B2A798A8,7/1/17,3,292,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,0.7619,40,0,0,0,15,1,9,0,39,0.887446,1,1,6/1/13,NaN,0
1,00116D71-E87D-4B64-A566-1F29B2A798A8,8/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,1.0000,0,0,0,0,15,1,9,200,28,0.887446,2,2,6/1/13,NaN,1
2,00116D71-E87D-4B64-A566-1F29B2A798A8,9/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,0.5000,72,0,0,0,15,1,9,0,43,0.887446,3,3,6/1/13,NaN,2
3,00116D71-E87D-4B64-A566-1F29B2A798A8,10/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,0.8636,16,0,0,0,15,1,9,0,49,0.887446,4,4,6/1/13,NaN,3
4,00116D71-E87D-4B64-A566-1F29B2A798A8,11/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,0.8000,8,0,0,0,15,1,9,0,43,0.887446,5,5,6/1/13,NaN,4
5,00116D71-E87D-4B64-A566-1F29B2A798A8,12/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,0.9545,0,0,0,0,15,1,9,0,45,0.887446,6,6,6/1/13,NaN,5
6,00116D71-E87D-4B64-A566-1F29B2A798A8,1/1/18,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,1.0000,0,0,0,0,15,1,9,200,46,0.887446,7,7,6/1/13,NaN,6
7,00116D71-E87D-4B64-A566-1F29B2A798A8,2/1/18,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,0.9000,16,0,0,0,15,1,9,0,47,0.887446,8,8,6/1/13,NaN,7
8,00116D71-E87D-4B64-A566-1F29B2A798A8,3/1/18,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,1.0000,0,0,0,0,15,1,9,0,48,0.887446,9,9,6/1/13,NaN,8
9,00116D71-E87D-4B64-A566-1F29B2A798A8,4/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,0.5714,8,0,0,0,15,1,9,0,19,0.887446,10,10,6/1/13,NaN,9
10,00116D71-E87D-4B64-A566-1F29B2A798A8,5/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,0,0,0,0,15,1,9,0,44,0.887446,11,11,6/1/13,NaN,10
11,00116D71-E87D-4B64-A566-1F29B2A798A8,6/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,32,0,0,0,15,1,22,0,45,0.901095,12,12,6/1/13,NaN,11
12,00116D71-E87D-4B64-A566-1F29B2A798A8,7/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,16,0,0,0,15,1,22,0,45,0.901095,13,13,6/1/13,NaN,12
13,00116D71-E87D-4B64-A566-1F29B2A798A8,8/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,0,0,0,0,15,1,22,0,44,0.901095,14,14,6/1/13,NaN,13
14,00116D71-E87D-4B64-A566-1F29B2A798A8,9/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,0,0,0,0,15,1,22,0,42,0.988548,15,1,6/1/13,NaN,14
15,00116D71-E87D-4B64-A566-1F29B2A798A8,10/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,64,0,0,0,15,1,22,100,41,0.988548,16,2,6/1/13,NaN,15
16,00116D71-E87D-4B64-A566-1F29B2A798A8,11/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,20,0,0,0,15,1,22,0,44,0.988548,17,3,6/1/13,NaN,16
17,00116D71-E87D-4B64-A566-1F29B2A798A8,12/1/18,3,284,222,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,C3D2D37C-3C0F-43EC-9FAC-B723D290AFE0,0,1.0000,40,0,0,0,15,1,22,0,0,0.988548,1,4,6/1/13,NaN,17
18,00116D71-E87D-4B64-A566-1F29B2A798A8,1/1/19,3,284,222,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,C3D2D37C-3C0F-43EC-9FAC-B723D290AFE0,0,1.0000,0,0,0,0,15,1,22,0,0,0.988548,2,5,6/1/13,NaN,18
19,00116D71-E87D-4B64-A566-1F29B2A798A8,2/1/19,3,284,71,3,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,C3D2D37C-3C0F-43EC-9FAC-B723D290AFE0,0,1.0000,8,0,0,0,15,1,22,0,34,1.089649,1,1,6/1/13,NaN,19
20,001502BB-B61A-404D-8A99-CC5DE5A4F985,7/1/17,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,1,0.0000,0,0,0,0,23,0,1,0,0,0.673111,1,1,3/1/08,4/1/18,20
21,001502BB-B61A-404D-8A99-CC5DE5A4F985,8/1/17,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,1,0.0000,0,0,0,0,23,0,1,0,0,0.673111,2,2,3/1/08,4/1/18,21
22,001502BB-B61A-404D-8A99-CC5DE5A4F985,9/1/17,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,1,0.0000,0,0,0,0,23,0,1,0,0,0.673111,3,3,3/1/08,4/1/18,22
23,001502BB-B61A-404D-8A99-CC5DE5A4F985,10/1/17,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,1,0.0000,0,0,0,0,23,0,1,0,0,0.673111,4,4,3/1/08,4/1/18,23
24,001502BB-B61A-404D-8A99-CC5DE5A4F985,11/1/17,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,1,0.0000,0,0,0,0,23,0,1,0,0,0.673111,5,5,3/1/08,4/1/18,24
25,001502BB-B61A-404D-8A99-CC5DE5A4F985,12/1/17,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,1,0.0000,0,0,0,0,23,0,1,0,0,0.673111,6,6,3/1/08,4/1/18,25
26,001502BB-B61A-404D-8A99-CC5DE5A4F985,1/1/18,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,1,0.0000,0,0,0,0,23,0,1,0,0,0.673111,7,7,3/1/08,4/1/18,26
27,001502BB-B61A-404D-8A99-CC5DE5A4F985,2/1/18,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,1,0.0000,0,0,0,0,23,0,1,0,0,0.673111,8,8,3/1/08,4/1/18,27
28,001502BB-B61A-404D-8A99-CC5DE5A4F985,3/1/18,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,1,0.0000,0,0,0,0,23,0,1,0,0,0.673111,9,9,3/1/08,4/1/18,28
29,001502BB-B61A-404D-8A99-CC5DE5A4F985,4/1/18,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,1,0.0000,0,0,0,0,23,0,1,0,0,0.673111,10,10,3/1/08,4/1/18,29

In [33]:
df['idx'] = [i for i in range(len(df))]

In [41]:
df.groupby('EmployeeID').nunique().max()

EmployeeID             1
Date                  20
DevCenterID            3
SBUID                  6
PositionID             5
PositionLevel          4
IsTrainee              2
LanguageLevelID        5
CustomerID            17
ProjectID             14
IsInternalProject      2
Utilization           20
HourVacation          12
HourMobileReserve     11
HourLockedReserve     15
OnSite                 2
CompetenceGroupID      3
FunctionalOfficeID     3
PaymentTypeId          5
BonusOneTime          20
APM                   20
WageGross             20
MonthOnPosition       20
MonthOnSalary         20
HiringDate             1
DismissalDate          1
idx                   20
dtype: int64

In [46]:
dd = df[df['EmployeeID'] == '00116D71-E87D-4B64-A566-1F29B2A798A8']
dd

,EmployeeID,Date,DevCenterID,SBUID,PositionID,PositionLevel,IsTrainee,LanguageLevelID,CustomerID,ProjectID,IsInternalProject,Utilization,HourVacation,HourMobileReserve,HourLockedReserve,OnSite,CompetenceGroupID,FunctionalOfficeID,PaymentTypeId,BonusOneTime,APM,WageGross,MonthOnPosition,MonthOnSalary,HiringDate,DismissalDate,idx
0,00116D71-E87D-4B64-A566-1F29B2A798A8,7/1/17,3,292,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,0.7619,40,0,0,0,15,1,9,0,39,0.887446,1,1,6/1/13,NaN,0
1,00116D71-E87D-4B64-A566-1F29B2A798A8,8/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,1.0000,0,0,0,0,15,1,9,200,28,0.887446,2,2,6/1/13,NaN,1
2,00116D71-E87D-4B64-A566-1F29B2A798A8,9/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,0.5000,72,0,0,0,15,1,9,0,43,0.887446,3,3,6/1/13,NaN,2
3,00116D71-E87D-4B64-A566-1F29B2A798A8,10/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,0.8636,16,0,0,0,15,1,9,0,49,0.887446,4,4,6/1/13,NaN,3
4,00116D71-E87D-4B64-A566-1F29B2A798A8,11/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,0.8000,8,0,0,0,15,1,9,0,43,0.887446,5,5,6/1/13,NaN,4
5,00116D71-E87D-4B64-A566-1F29B2A798A8,12/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,0.9545,0,0,0,0,15,1,9,0,45,0.887446,6,6,6/1/13,NaN,5
6,00116D71-E87D-4B64-A566-1F29B2A798A8,1/1/18,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,1.0000,0,0,0,0,15,1,9,200,46,0.887446,7,7,6/1/13,NaN,6
7,00116D71-E87D-4B64-A566-1F29B2A798A8,2/1/18,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,0.9000,16,0,0,0,15,1,9,0,47,0.887446,8,8,6/1/13,NaN,7
8,00116D71-E87D-4B64-A566-1F29B2A798A8,3/1/18,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,0,1.0000,0,0,0,0,15,1,9,0,48,0.887446,9,9,6/1/13,NaN,8
9,00116D71-E87D-4B64-A566-1F29B2A798A8,4/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,0.5714,8,0,0,0,15,1,9,0,19,0.887446,10,10,6/1/13,NaN,9
10,00116D71-E87D-4B64-A566-1F29B2A798A8,5/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,0,0,0,0,15,1,9,0,44,0.887446,11,11,6/1/13,NaN,10
11,00116D71-E87D-4B64-A566-1F29B2A798A8,6/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,32,0,0,0,15,1,22,0,45,0.901095,12,12,6/1/13,NaN,11
12,00116D71-E87D-4B64-A566-1F29B2A798A8,7/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,16,0,0,0,15,1,22,0,45,0.901095,13,13,6/1/13,NaN,12
13,00116D71-E87D-4B64-A566-1F29B2A798A8,8/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,0,0,0,0,15,1,22,0,44,0.901095,14,14,6/1/13,NaN,13
14,00116D71-E87D-4B64-A566-1F29B2A798A8,9/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,0,0,0,0,15,1,22,0,42,0.988548,15,1,6/1/13,NaN,14
15,00116D71-E87D-4B64-A566-1F29B2A798A8,10/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,64,0,0,0,15,1,22,100,41,0.988548,16,2,6/1/13,NaN,15
16,00116D71-E87D-4B64-A566-1F29B2A798A8,11/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,0,1.0000,20,0,0,0,15,1,22,0,44,0.988548,17,3,6/1/13,NaN,16
17,00116D71-E87D-4B64-A566-1F29B2A798A8,12/1/18,3,284,222,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,C3D2D37C-3C0F-43EC-9FAC-B723D290AFE0,0,1.0000,40,0,0,0,15,1,22,0,0,0.988548,1,4,6/1/13,NaN,17
18,00116D71-E87D-4B64-A566-1F29B2A798A8,1/1/19,3,284,222,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,C3D2D37C-3C0F-43EC-9FAC-B723D290AFE0,0,1.0000,0,0,0,0,15,1,22,0,0,0.988548,2,5,6/1/13,NaN,18
19,00116D71-E87D-4B64-A566-1F29B2A798A8,2/1/19,3,284,71,3,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,C3D2D37C-3C0F-43EC-9FAC-B723D290AFE0,0,1.0000,8,0,0,0,15,1,22,0,34,1.089649,1,1,6/1/13,NaN,19