In [11]:
import os

import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
DATA_DIR = os.path.join('..', 'data')
os.listdir(DATA_DIR)

['history.csv', 'submission.csv', 'employees.csv']

In [14]:
hist = pd.read_csv(os.path.join(DATA_DIR, 'history.csv'))
empls = pd.read_csv(os.path.join(DATA_DIR, 'employees.csv'))
sbmsn = pd.read_csv(os.path.join(DATA_DIR, 'submission.csv'))

In [15]:
empls.head()

                             EmployeeID HiringDate DismissalDate
0  01EDC1A7-5DA7-4939-854B-0002E0DF548D     9/1/18           NaN
1  91C351D9-38A1-40CB-9B69-000774211859     1/1/18        2/1/19
2  D699327D-8A78-4FBE-9CEA-001355717D3F     2/1/18           NaN
3  22102E27-5EEA-44F9-8632-0017B04B1236    10/1/14        5/1/18
4  08C0AFA9-ABC3-4FAF-8DE2-0018AE9A69F4     9/1/10           NaN

In [16]:
len(empls)

5373

In [17]:
empls.EmployeeID.nunique()

5373

In [20]:
empls[empls['DismissalDate'].isnull()]

                                EmployeeID HiringDate DismissalDate
0     01EDC1A7-5DA7-4939-854B-0002E0DF548D     9/1/18           NaN
2     D699327D-8A78-4FBE-9CEA-001355717D3F     2/1/18           NaN
4     08C0AFA9-ABC3-4FAF-8DE2-0018AE9A69F4     9/1/10           NaN
6     FA5F9156-0C2E-4462-B045-002E6E259B49     3/1/18           NaN
8     F080C1DE-1803-461A-AF0B-004E19CBD634     6/1/18           NaN
...                                    ...        ...           ...
5367  9634B9D2-6519-4345-AD76-FFA34A10A26D     3/1/15           NaN
5369  4D599D15-30AD-461B-B35A-FFB29D5F3A57     3/1/17           NaN
5370  F7A06FC0-8117-495D-BA4B-FFD4B9306DA2     9/1/14           NaN
5371  6204EE4F-26E3-437B-85C1-FFED4CC7B6C8     4/1/16           NaN
5372  C71C70C7-DBB2-45BD-9DB2-FFF30F1A77F1    10/1/16           NaN

[4356 rows x 3 columns]

In [24]:
set(sbmsn.EmployeeID) - set(empls.EmployeeID)

set()

In [25]:
len(hist)

87766

In [26]:
df = hist.merge(empls)

In [27]:
len(df)

87766

In [39]:
df.head(33)

,EmployeeID,Date,DevCenterID,SBUID,PositionID,PositionLevel,IsTrainee,LanguageLevelID,CustomerID,ProjectID,...,FunctionalOfficeID,PaymentTypeId,BonusOneTime,APM,WageGross,MonthOnPosition,MonthOnSalary,HiringDate,DismissalDate,idx
0,00116D71-E87D-4B64-A566-1F29B2A798A8,7/1/17,3,292,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,1,9,0,39,0.887446,1,1,6/1/13,NaN,0
1,00116D71-E87D-4B64-A566-1F29B2A798A8,8/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,1,9,200,28,0.887446,2,2,6/1/13,NaN,1
2,00116D71-E87D-4B64-A566-1F29B2A798A8,9/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,1,9,0,43,0.887446,3,3,6/1/13,NaN,2
3,00116D71-E87D-4B64-A566-1F29B2A798A8,10/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,1,9,0,49,0.887446,4,4,6/1/13,NaN,3
4,00116D71-E87D-4B64-A566-1F29B2A798A8,11/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,1,9,0,43,0.887446,5,5,6/1/13,NaN,4
5,00116D71-E87D-4B64-A566-1F29B2A798A8,12/1/17,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,1,9,0,45,0.887446,6,6,6/1/13,NaN,5
6,00116D71-E87D-4B64-A566-1F29B2A798A8,1/1/18,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,1,9,200,46,0.887446,7,7,6/1/13,NaN,6
7,00116D71-E87D-4B64-A566-1F29B2A798A8,2/1/18,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,1,9,0,47,0.887446,8,8,6/1/13,NaN,7
8,00116D71-E87D-4B64-A566-1F29B2A798A8,3/1/18,3,332,70,2,0,11,893EA22F-08BE-4F11-AD93-C50746E4565F,7F97465B-ED3C-45DB-BE96-86C7E493F0CD,...,1,9,0,48,0.887446,9,9,6/1/13,NaN,8
9,00116D71-E87D-4B64-A566-1F29B2A798A8,4/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,...,1,9,0,19,0.887446,10,10,6/1/13,NaN,9
10,00116D71-E87D-4B64-A566-1F29B2A798A8,5/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,...,1,9,0,44,0.887446,11,11,6/1/13,NaN,10
11,00116D71-E87D-4B64-A566-1F29B2A798A8,6/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,...,1,22,0,45,0.901095,12,12,6/1/13,NaN,11
12,00116D71-E87D-4B64-A566-1F29B2A798A8,7/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,...,1,22,0,45,0.901095,13,13,6/1/13,NaN,12
13,00116D71-E87D-4B64-A566-1F29B2A798A8,8/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,...,1,22,0,44,0.901095,14,14,6/1/13,NaN,13
14,00116D71-E87D-4B64-A566-1F29B2A798A8,9/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,...,1,22,0,42,0.988548,15,1,6/1/13,NaN,14
15,00116D71-E87D-4B64-A566-1F29B2A798A8,10/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,...,1,22,100,41,0.988548,16,2,6/1/13,NaN,15
16,00116D71-E87D-4B64-A566-1F29B2A798A8,11/1/18,3,284,70,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,4AAF7425-575B-46CB-A42D-F43A53187D32,...,1,22,0,44,0.988548,17,3,6/1/13,NaN,16
17,00116D71-E87D-4B64-A566-1F29B2A798A8,12/1/18,3,284,222,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,C3D2D37C-3C0F-43EC-9FAC-B723D290AFE0,...,1,22,0,0,0.988548,1,4,6/1/13,NaN,17
18,00116D71-E87D-4B64-A566-1F29B2A798A8,1/1/19,3,284,222,2,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,C3D2D37C-3C0F-43EC-9FAC-B723D290AFE0,...,1,22,0,0,0.988548,2,5,6/1/13,NaN,18
19,00116D71-E87D-4B64-A566-1F29B2A798A8,2/1/19,3,284,71,3,0,11,888A91D6-1F35-4337-ADCD-E4D7F0399DF1,C3D2D37C-3C0F-43EC-9FAC-B723D290AFE0,...,1,22,0,34,1.089649,1,1,6/1/13,NaN,19
20,001502BB-B61A-404D-8A99-CC5DE5A4F985,7/1/17,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,...,0,1,0,0,0.673111,1,1,3/1/08,4/1/18,20
21,001502BB-B61A-404D-8A99-CC5DE5A4F985,8/1/17,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,...,0,1,0,0,0.673111,2,2,3/1/08,4/1/18,21
22,001502BB-B61A-404D-8A99-CC5DE5A4F985,9/1/17,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,...,0,1,0,0,0.673111,3,3,3/1/08,4/1/18,22
23,001502BB-B61A-404D-8A99-CC5DE5A4F985,10/1/17,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,...,0,1,0,0,0.673111,4,4,3/1/08,4/1/18,23
24,001502BB-B61A-404D-8A99-CC5DE5A4F985,11/1/17,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,...,0,1,0,0,0.673111,5,5,3/1/08,4/1/18,24
25,001502BB-B61A-404D-8A99-CC5DE5A4F985,12/1/17,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,...,0,1,0,0,0.673111,6,6,3/1/08,4/1/18,25
26,001502BB-B61A-404D-8A99-CC5DE5A4F985,1/1/18,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,...,0,1,0,0,0.673111,7,7,3/1/08,4/1/18,26
27,001502BB-B61A-404D-8A99-CC5DE5A4F985,2/1/18,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,...,0,1,0,0,0.673111,8,8,3/1/08,4/1/18,27
28,001502BB-B61A-404D-8A99-CC5DE5A4F985,3/1/18,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,...,0,1,0,0,0.673111,9,9,3/1/08,4/1/18,28
29,001502BB-B61A-404D-8A99-CC5DE5A4F985,4/1/18,1,55,203,2,0,20,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,NaN,...,0,1,0,0,0.673111,10,10,3/1/08,4/1/18,29
30,001AAE0C-4EE9-43DB-BE7C-A6D08D061A9A,7/1/17,1,120,89,2,0,5,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,F4E47526-5F31-4C4F-8B10-5A1F45A0545A,...,-1,9,0,0,0.584142,1,1,3/1/15,NaN,30
31,001AAE0C-4EE9-43DB-BE7C-A6D08D061A9A,8/1/17,1,120,89,2,0,5,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,F4E47526-5F31-4C4F-8B10-5A1F45A0545A,...,-1,9,0,0,0.584142,2,2,3/1/15,NaN,31
32,001AAE0C-4EE9-43DB-BE7C-A6D08D061A9A,9/1/17,1,120,89,2,0,5,2CAB77C6-1BF5-4FA8-957E-D8F5C7DED66F,F4E47526-5F31-4C4F-8B10-5A1F45A0545A,...,-1,9,0,0,0.584142,3,3,3/1/15,NaN,32

In [33]:
df['idx'] = [i for i in range(len(df))]

In [38]:
list(df.groupby('EmployeeID').last()['idx'])

[19,
 29,
 49,
 69,
 89,
 100,
 107,
 113,
 133,
 153,
 173,
 193,
 213,
 222,
 242,
 249,
 261,
 275,
 294,
 314,
 334,
 340,
 350,
 369,
 377,
 397,
 404,
 421,
 441,
 461,
 481,
 501,
 521,
 541,
 561,
 581,
 601,
 621,
 641,
 647,
 667,
 687,
 707,
 723,
 743,
 759,
 773,
 793,
 813,
 819,
 828,
 845,
 863,
 883,
 903,
 923,
 943,
 952,
 972,
 983,
 998,
 1018,
 1024,
 1033,
 1045,
 1065,
 1085,
 1097,
 1117,
 1136,
 1142,
 1148,
 1154,
 1173,
 1183,
 1203,
 1222,
 1242,
 1262,
 1282,
 1290,
 1310,
 1318,
 1335,
 1355,
 1375,
 1395,
 1406,
 1426,
 1446,
 1466,
 1485,
 1505,
 1513,
 1527,
 1535,
 1546,
 1560,
 1580,
 1600,
 1608,
 1615,
 1630,
 1649,
 1659,
 1679,
 1699,
 1716,
 1736,
 1756,
 1776,
 1786,
 1806,
 1826,
 1846,
 1866,
 1872,
 1882,
 1902,
 1922,
 1942,
 1962,
 1982,
 1997,
 2009,
 2029,
 2045,
 2065,
 2085,
 2098,
 2113,
 2120,
 2140,
 2160,
 2180,
 2200,
 2209,
 2221,
 2228,
 2239,
 2259,
 2279,
 2299,
 2311,
 2328,
 2348,
 2368,
 2385,
 2401,
 2421,
 2441,
 2454,
 2474,
 2492,
 2512,
 2519,
 2539,
 2559,
 2579,
 2586,
 2601,
 2619,
 2639,
 2646,
 2666,
 2686,
 2693,
 2712,
 2732,
 2752,
 2772,
 2783,
 2789,
 2803,
 2817,
 2837,
 2857,
 2869,
 2889,
 2905,
 2925,
 2933,
 2953,
 2973,
 2979,
 2989,
 3009,
 3029,
 3049,
 3056,
 3062,
 3082,
 3102,
 3122,
 3128,
 3148,
 3162,
 3182,
 3202,
 3217,
 3235,
 3255,
 3275,
 3295,
 3315,
 3335,
 3355,
 3375,
 3395,
 3415,
 3435,
 3455,
 3475,
 3495,
 3502,
 3517,
 3535,
 3555,
 3575,
 3584,
 3604,
 3612,
 3618,
 3638,
 3658,
 3669,
 3689,
 3699,
 3719,
 3739,
 3746,
 3766,
 3775,
 3781,
 3801,
 3821,
 3841,
 3849,
 3863,
 3875,
 3895,
 3912,
 3920,
 3940,
 3952,
 3972,
 3992,
 4007,
 4027,
 4047,
 4067,
 4087,
 4097,
 4115,
 4129,
 4149,
 4163,
 4183,
 4191,
 4211,
 4231,
 4251,
 4271,
 4291,
 4297,
 4317,
 4325,
 4345,
 4365,
 4374,
 4386,
 4394,
 4414,
 4420,
 4440,
 4460,
 4480,
 4494,
 4514,
 4534,
 4554,
 4574,
 4590,
 4610,
 4630,
 4650,
 4660,
 4680,
 4696,
 4713,
 4733,
 4753,
 4773,
 4793,
 4813,
 4833,
 4852,
 4872,
 4892,
 4906,
 4926,
 4946,
 4954,
 4971,
 4991,
 5011,
 5031,
 5051,
 5063,
 5083,
 5095,
 5115,
 5121,
 5141,
 5161,
 5175,
 5194,
 5214,
 5231,
 5251,
 5271,
 5291,
 5311,
 5317,
 5337,
 5350,
 5367,
 5382,
 5402,
 5422,
 5430,
 5450,
 5456,
 5471,
 5491,
 5501,
 5521,
 5527,
 5543,
 5563,
 5583,
 5596,
 5611,
 5631,
 5651,
 5662,
 5682,
 5702,
 5719,
 5739,
 5759,
 5773,
 5793,
 5803,
 5823,
 5831,
 5851,
 5871,
 5886,
 5906,
 5926,
 5946,
 5955,
 5971,
 5991,
 6011,
 6031,
 6051,
 6071,
 6080,
 6100,
 6112,
 6121,
 6127,
 6147,
 6167,
 6187,
 6202,
 6222,
 6240,
 6248,
 6268,
 6288,
 6307,
 6327,
 6347,
 6367,
 6382,
 6402,
 6415,
 6431,
 6446,
 6458,
 6464,
 6474,
 6487,
 6500,
 6507,
 6527,
 6547,
 6555,
 6575,
 6583,
 6603,
 6612,
 6628,
 6636,
 6642,
 6652,
 6672,
 6685,
 6691,
 6705,
 6712,
 6732,
 6738,
 6751,
 6771,
 6789,
 6809,
 6829,
 6842,
 6862,
 6872,
 6892,
 6912,
 6932,
 6940,
 6960,
 6978,
 6998,
 7018,
 7038,
 7058,
 7070,
 7089,
 7109,
 7129,
 7139,
 7159,
 7179,
 7199,
 7219,
 7227,
 7238,
 7255,
 7275,
 7295,
 7315,
 7335,
 7354,
 7374,
 7394,
 7414,
 7434,
 7454,
 7460,
 7480,
 7500,
 7520,
 7540,
 7548,
 7568,
 7574,
 7588,
 7594,
 7614,
 7634,
 7648,
 7662,
 7678,
 7691,
 7698,
 7718,
 7732,
 7748,
 7764,
 7784,
 7804,
 7817,
 7837,
 7852,
 7861,
 7878,
 7898,
 7918,
 7938,
 7945,
 7965,
 7974,
 7994,
 8014,
 8026,
 8046,
 8066,
 8086,
 8094,
 8114,
 8125,
 8142,
 8162,
 8182,
 8196,
 8216,
 8224,
 8231,
 8251,
 8271,
 8278,
 8288,
 8306,
 8326,
 8346,
 8363,
 8370,
 8390,
 8410,
 8430,
 8442,
 8462,
 8482,
 8492,
 8512,
 8519,
 8539,
 8548,
 8558,
 8578,
 8588,
 8600,
 8620,
 8640,
 8660,
 8680,
 8700,
 8720,
 8726,
 8746,
 8766,
 8786,
 8806,
 8817,
 8826,
 8846,
 8866,
 8879,
 8899,
 8915,
 8935,
 8955,
 8961,
 8970,
 8981,
 8997,
 9017,
 9037,
 9053,
 9059,
 9079,
 9099,
 9119,
 9139,
 9145,
 9161,
 9168,
 9188,
 9208,
 9228,
 9248,
 9268,
 9282,
 9296,
 9316,
 9325,
 9331,
 9346,
 9352,
 9371,
 9391,
 9398,
 9405,
 9415,
 9424,
 9444,
 9464,
 9471,
 9491,
 9500,
 9511,
 9531,
 9551,
 9557,
 9563,
 9583,
 9603,
 9623,
 9643,
 9663,
 9680,
 9700,
 9720,
 9740,
 9755,
 9762,
 9782,
 9802,
 9822,
 9842,
 9862,
 9882,
 9890,
 9902,
 9922,
 9942,
 9956,
 9976,
 9987,
 10006,
 10026,
 10046,
 10066,
 10086,
 10092,
 10108,
 10128,
 10138,
 10158,
 10178,
 10198,
 10218,
 10238,
 10258,
 10277,
 10297,
 10317,
 10337,
 10357,
 10377,
 10397,
 10417,
 10437,
 10457,
 10474,
 10494,
 10514,
 10534,
 10554,
 10574,
 10582,
 10601,
 10617,
 10628,
 10647,
 10667,
 10687,
 10696,
 10716,
 10736,
 10756,
 10771,
 10791,
 10811,
 10821,
 10841,
 10861,
 10867,
 10881,
 10901,
 10912,
 10932,
 10952,
 10972,
 10989,
 11009,
 11027,
 11045,
 11065,
 11076,
 11096,
 11116,
 11128,
 11148,
 11161,
 11181,
 11201,
 11221,
 11241,
 11261,
 11277,
 11297,
 11312,
 11319,
 11337,
 11357,
 11363,
 11383,
 11396,
 11415,
 11426,
 11446,
 11463,
 11473,
 11484,
 11504,
 11524,
 11544,
 11557,
 11577,
 11597,
 11606,
 11626,
 11642,
 11656,
 11669,
 11689,
 11709,
 11715,
 11735,
 11755,
 11766,
 11781,
 11787,
 11793,
 11804,
 11824,
 11844,
 11864,
 11879,
 11899,
 11919,
 11939,
 11959,
 11979,
 11999,
 12016,
 12036,
 12056,
 12076,
 12092,
 12112,
 12120,
 12140,
 12160,
 12180,
 12200,
 12220,
 12233,
 12239,
 12259,
 12274,
 12294,
 12314,
 12334,
 12342,
 12362,
 12369,
 12389,
 12401,
 12419,
 12427,
 12433,
 12448,
 12468,
 12488,
 12508,
 12519,
 12539,
 12559,
 12579,
 12599,
 12619,
 12634,
 12654,
 12669,
 12679,
 12692,
 12712,
 12732,
 12741,
 12755,
 12769,
 12789,
 12800,
 12820,
 12832,
 12838,
 12846,
 12855,
 12875,
 12895,
 12915,
 12924,
 12944,
 12964,
 12984,
 13004,
 13016,
 13036,
 13056,
 13076,
 13096,
 13102,
 13122,
 13142,
 13162,
 13173,
 13193,
 13208,
 13224,
 13241,
 13250,
 13257,
 13269,
 13289,
 13309,
 13316,
 13328,
 13334,
 13347,
 13367,
 13380,
 13400,
 13409,
 13415,
 13435,
 13455,
 13464,
 13484,
 13501,
 13507,
 13527,
 13535,
 13552,
 13572,
 13586,
 13606,
 13614,
 13634,
 13654,
 13671,
 13691,
 13711,
 13723,
 13743,
 13763,
 13783,
 13803,
 13823,
 13842,
 13862,
 13882,
 13902,
 13922,
 13942,
 13960,
 13980,
 14000,
 14020,
 14040,
 14060,
 14080,
 14092,
 14112,
 14126,
 14146,
 14157,
 14177,
 14197,
 14211,
 14231,
 14251,
 14271,
 14279,
 14290,
 14310,
 14330,
 14343,
 14352,
 14363,
 14383,
 14403,
 14423,
 14443,
 14463,
 14483,
 14503,
 14523,
 14536,
 14556,
 14574,
 14594,
 14614,
 14628,
 14648,
 14668,
 14688,
 14702,
 14712,
 14732,
 14752,
 14760,
 14780,
 14800,
 14813,
 14833,
 14843,
 14863,
 14883,
 14903,
 14918,
 14938,
 14958,
 14978,
 14991,
 15011,
 15031,
 15051,
 15071,
 15091,
 15100,
 15112,
 15118,
 15138,
 15158,
 15178,
 15198,
 15218,
 15236,
 15248,
 15268,
 15287,
 15307,
 15325,
 15344,
 15353,
 15368,
 15382,
 15388,
 15408,
 15423,
 15443,
 15463,
 15473,
 15493,
 15513,
 15523,
 15543,
 15563,
 15583,
 15603,
 15623,
 15643,
 15663,
 15680,
 15694,
 15713,
 15733,
 15743,
 15763,
 15783,
 15802,
 15822,
 15832,
 15846,
 15866,
 15886,
 15896,
 15916,
 15936,
 15956,
 15976,
 15991,
 16004,
 16024,
 16033,
 16043,
 16050,
 16070,
 16080,
 16096,
 16116,
 16136,
 16156,
 16176,
 16186,
 16206,
 16221,
 16237,
 16257,
 16277,
 16287,
 16294,
 16314,
 16334,
 16354,
 16366,
 16386,
 16406,
 16416,
 16436,
 ...]